<div class="backdrop">
  <nav>
    <ul class="pager">
      <div class="image-cropper previous" href="#">
        <img class="rounded" src="/assets/monkey-logo.jpg">
      </div>
      <li class="next new-user-button"><a href="<%= new_session_url %>">Sign In</a></li>
    </ul>
  </nav>
  <div class="encapsulate-frontpage">
    <div class="container-frontpage">
    	<form class="form" action="<%= users_url %>" method="post">
        <%= auth_token_input %>
    		<fieldset>
    			<legend>
            <div>HouziHanzi</div>
            <div class="subheader">Learn Chinese Characters</div>
          </legend>
          <div class="flash-errors"><%= flash[:errors].join("<br>").html_safe if flash[:errors] %></div>
    			<div class="form-group form-slide-side">
    				<label for="email" class="form-label"></label>
    				<input placeholder="Email" type="email" class="form-input" name="user[email]" />
    			</div>
    			<div class="form-group form-slide-side">
    				<label for="password" class="form-label"></label>
    				<input placeholder="Password" type="password" class="form-input" name="user[password]" />
    			</div>
    			<div class="form-group">
    			  	<button type="submit" class="form-submit">Sign Up</button>
    			</div>
          <div><a href="http://www.freepik.com/free-photos-vectors/background">logo designed by Freepik</a></div>
    		</fieldset>

    	</form>
    </div>
  </div>
</div>
